!!! 5
%head
  %title Thank You
%body
  %h1 Thanks for Participating
  %p
    :markdown
      Thank you for your participation, the goal of this was to 
      investigate whether or not people recognize letters better
      in the context of words or on their own. This was done by
      showing you either words, letters, or letters disguised as 
      words, and recording if you recognize what you were seeing.

      Thanks for your help. If you have any more questions feel free
      to ask me.
  %a{:href => "/stats/#{partID}"}Click here to see your results

