!!! 5
%head
  %title W-S-E
  %link{:rel => "stylesheet", :href => "wse.css", :type => "text/css", :charset => "utf-8"}
%body
  %h1 Word Superiority Effect
  %p
    :markdown
        This is a replication of a word superiority effect test

        More information about it will be given once the test has
        been completed.

        [Begin](/register)
