!!! 5
%head
  %title W-S-E
  %link{:rel => "stylesheet", :href => "wse.css", :type => "text/css", :charset => "utf-8"}
%body
  %h1 Word Superiority Effect
  %p
    :markdown
        This is a replication of a word superiority effect test

        Here's what's going to happen:

        You'll click "Begin" down there at the bottom.

        You'll input your age, and gender, and submit it.

        You will find yourself on a page with a "Start" button.

        When you click the button, a word, letter, or letter disguised as a word will flash briefly.

        It will then be shown again, this time with the letters hidden and a spot indicated.

        2 more buttons will appear, each with a letter on it.

        You will select the button that matches the letter that should go in the spot that is indicated.

        A "Next" button will appear to take you to a new word.

        After 60 words, you'll be done.

        The test should take about 15 to 20 minutes overall. Make sure
        you watch carefully for the word, it flashes _very_ briefly.

        More information about it will be given once the test has
        been completed.

        [Begin](/register)

