!!! 5
%head
  %title W-S-E
  %link{:rel => "stylesheet", :href => "wse.css", :type => "text/css", :charset => "utf-8"}
%body
  %h1="Stats for #{ participant[:_id] }"
  %h2="Age: #{ participant[:age]}, Gender: #{ participant[:gender] }"

  %table
    %tr
      %th
      %th Words 
      %th Letters
      %th Masked
      %th Total
    %tr
      %td Correct
      %td=stats[:word][:correct]
      %td=stats[:letter][:correct]
      %td=stats[:masked][:correct]
      %td=stats[:total][:correct]
    %tr
      %td Completed
      %td=stats[:word][:size]
      %td=stats[:letter][:size]
      %td=stats[:masked][:size]
      %td=stats[:total][:size]
    %tr
      %td Percent
      %td=stats[:word][:percent]
      %td=stats[:letter][:percent]
      %td=stats[:masked][:percent]
      %td=stats[:total][:percent]

  %h3 Choices
  %h4 Words
  %table
    %tr
      %th Word
      %th Choice
      %th Index
    - choices[:word].each do |choice|
      %tr
        %td=choice.word.word
        %td=choice.choice
        %td=choice.word.index
  %h4 Letters
  %table
    %tr
      %th Word
      %th Choice
      %th Index
    - choices[:letter].each do |choice|
      %tr
        %td=choice.word.word
        %td=choice.choice
        %td=choice.word.index
  %h4 Masked
  %table
    %tr
      %th Word
      %th Choice
      %th Index
    - choices[:masked].each do |choice|
      %tr 
        %td=choice.word.word
        %td=choice.choice
        %td=choice.word.index

